{
	"backgroundcolor": "BLACK",
	"boxmarginleft": 27,
	"components": [
		"hostname",
		"currentdate",
		"currenttime",
		"ip",
		"ping",
		"board",
		"cpu",
		"ram",
		"gpu",
		"temperatur",
		"sd",
		"lastimage"
	],
	"checkforlatestfile": "/mnt/server/_image/*.zip",
	"imagerefresh": 0.2,
	"localpingdestination": "192.168.178.10",
	"picturesaveintervall": 3600,
	"pingintervall": 300,
	"remotepingdestination": "8.8.8.8",
	"rotate": 90,
	"saveimagedestination": "/mnt/server/status.png",
	"scrollingtextwait": 5,
	"ttffont": "/usr/share/fonts/truetype/msttcorefonts/courbd.ttf"
}
