{
 "ttffont": "/usr/share/fonts/truetype/msttcorefonts/courbd.ttf",
 "localpingdestination": "192.168.178.10",
 "remotepingdestination": "8.8.8.8",
 "checkforlatestfile": "/mnt/braavos/images/raspberry/devlop/_image/*.zip",
 "saveimagedestination": "/mnt/braavos/images/raspberry/status_devlop.png",
 "picturesaveintervall": 3600,
 "pingintervall": 300,
 "imagerefresh": 0.2
}
