{
  "backgroundcolor":"BLACK",
  "boxmarginleft":27,
  "fontcolor":"WHITE",
  "imagerefresh":0.2,
  "lcddriver":"waveshare144",
  "no_y_scroll_offset": 2,
  "components":[
    "hostname",
    "currentdate",
    "currenttime",
    "uptime",
    "ipping",
    "board",
    "cpu",
    "ram",
    "temperatur",
    "sd",
    "drive",
    "border",
    "lastimage"
  ],
  "component_drive":{
    "drive":[
      "/mnt/share1",
	  "/mnt/share2"
    ]
  },
  "component_hostname":{
    "ttffont":"/opt/RPi-status-on-OLED/font/Courier Prime Bold.ttf"
  },
  "component_ipping":{
    "localpingdestination":"",
    "pingintervall":300,
    "remotepingdestination":"8.8.8.8"
  },
  "component_lastimage":{
    "checkforlatestfile":"/mnt/share/%HOSTNAME%/_image/*.img"
  },
  "pushover":{
	  "messages": 1,
	  "apikey":"",
      "userkey":""
  },
  "rotate":180,
  "savescreen":{
    "destination":"/mnt/share/status_%HOSTNAME%.png",
    "intervall":3600
  },
  "scrollingtextwait":5,
  "wallpaper":{
    "file":"wp.jpg",
    "enable":"true",
    "per_minute":6
  }
}
